{include file="public/header" title="活动首页"  body=""/}


    <div class="indexbox">
        <div class="indexbox_bg"></div>
        <ul class="indexbox_ul">
            <li class="indexbox_ul_li on1">
                <a class="indexbox_ul_li_a" href="/mobile{$navigation[0]['url']}">{$navigation[0]['name']}</a>
            </li>
            <li class="indexbox_ul_li on2">
                <a class="indexbox_ul_li_a" href="/mobile{$navigation[1]['url']}">{$navigation[1]['name']}</a>
            </li>
            <li class="indexbox_ul_li on3">
                <a class="indexbox_ul_li_a" href="/mobile{$navigation[2]['url']}">{$navigation[2]['name']}</a>
            </li>
        </ul>
    </div>








</body>
</html>
