{include file="public/header" title="竞猜胜负"  body=""/}

<!--<div class="logo-wrap-bg">-->
    <!--<a class="login-logo-wrap" href="#">-->
        <!--&lt;!&ndash;<img src="__STATIC__//template/mobile/static/images/logo-login.png" alt="LOGO"/>&ndash;&gt;-->
    <!--</a>-->
<!--</div>-->





<div class="jcbox">
    <div class="jcbox_banner">
        <img src="/template/mobile/static/images/jc_01.jpg" alt="竞猜活动">
    </div>
    <div class="jcbox_content">
        <ul class="jcbox_content_ul">
            <li class="indexbox_ul_li on1">
                <a class="indexbox_ul_li_a" href="/mobile{$navigation[0]['url']}">{$navigation[0]['name']}</a>
            </li>
            <li class="indexbox_ul_li on2">
                <a class="indexbox_ul_li_a" href="/mobile{$navigation[1]['url']}">{$navigation[1]['name']}</a>
            </li>
            <li class="indexbox_ul_li on3">
                <a class="indexbox_ul_li_a" href="/mobile{$navigation[2]['url']}">{$navigation[2]['name']}</a>
            </li>
        </ul>
        <div class="jcbox_content_xian">
            <img src="/template/mobile/static/images/kaquan_01.png" alt="">
        </div>
        <div class="kaquanbox">

            <img style="width: 90%;margin:0 auto;" src="/template/mobile/static/images/jc002.png" alt="">

        </div>
    </div>
</div>




<script>
    function activityCoupons(code)
    {

        var data = {code:code};
        $.ajax({
            type : 'post',
            url : '/mobile/Coupons/activityCoupons',
            data : data,
            dataType : 'json',
            success : function(data){
                if(data.status == 1){
                    showErrorMsg(data.msg);
                    window.location.reload();
                    // window.location.href = data.url;

                }else{
                    showErrorMsg(data.msg);
                    if (codeExist) {
                        verify();
                    } else {
                        location.reload();
                    }
                }
            },
            error : function(XMLHttpRequest, textStatus, errorThrown) {
                showErrorMsg('网络异常，请稍后重试');
            }
        })
    }

    function activityCouponsG(code)
    {
        var data = {code:code};
        $.ajax({
            type : 'post',
            url : '/mobile/Coupons/activityCouponsG',
            data : data,
            dataType : 'json',
            success : function(data){
                if(data.status == 1){
                    showErrorMsg(data.msg);
                    window.location.reload();
                    // window.location.href = data.url;

                }else{
                    showErrorMsg(data.msg);
                    if (codeExist) {
                        verify();
                    } else {
                        location.reload();
                    }
                }
            },
            error : function(XMLHttpRequest, textStatus, errorThrown) {
                showErrorMsg('网络异常，请稍后重试');
            }
        })
    }
</script>

<script type="text/javascript">
    /*Copy function implementation */
    function copyContent(){
        var copyobject=document.getElementById("copy-content");
        copyobject.select();
        document.execCommand("Copy");
        alert("优惠券链接已复制成功，快去粘贴分享吧~");
    };
</script>